<div class="show_invoice">
  <div class="invoice_preview">
    <div class="inovice_preview_contianer">
      <div class="invoice_tag <%= @invoice.status %>"></div>

      <div class="invoice_preview_content">

        <div class="preview_content_top">

          <div class="preview_left">
            <div class="invoice_name"><%= Company.first.org_name %></div>
            <div class="invoice_address">
              <p><%= "#{Company.first.street_address_1} #{Company.first.street_address_2}" %></p>

              <p><%= Company.first.province_or_state %></p>
            </div>
            <div class="invoice_organization">
              <p class="preview_heading"><%= @invoice.client.organization_name %></p>

              <p><%= @invoice.client.first_name.to_s + " " +@invoice.client.last_name.to_s %></p>

              <p><%= @invoice.client.city %>&nbsp;&nbsp;<%= @invoice.client.postal_zip_code %></p>

              <p><%= @invoice.client.address_street1.to_s+ " " +@invoice.client.address_street2.to_s %></p>
            </div>
          </div>
          <!--preview_top_left-->

          <div class="preview_right">
            <div class="top_right_row">
              <div class="preview_right_label">Invoice #</div>
              <div class="preview_right_description"><%= @invoice.invoice_number %></div>
            </div>
            <!--top_right_row-->

            <div class="top_right_row">
              <div class="preview_right_label">Invoice Date</div>
              <div class="preview_right_description"><%= @invoice.invoice_date.strftime('%B %d , %Y') rescue "" %></div>
            </div>
            <!--top_right_row-->

            <div class="top_right_row">
              <div class="preview_right_label">Amount</div>
              <div class="preview_right_description"><%= number_to_currency(@invoice.invoice_total - Payment.invoice_paid_amount(@invoice.id)) %></div>
            </div>
            <!--top_right_row-->

            <div class="top_right_row">
              <div class="preview_right_label">Due Date</div>
              <div class="preview_right_description"><%= @invoice.due_date.strftime('%B %d , %Y') rescue "" %></div>
            </div>
            <!--top_right_row-->
          </div>
          <!--preview_top_right-->

        </div>
        <!--preview_content_top-->

        <div class="preview_content_middle">
          <div class="grid_table">
            <table cellpadding="0" cellspacing="0">
              <colgroup>
                <col class="one"/>
                <col class="two"/>
                <col class="three"/>
                <col class="four"/>
                <col class="five"/>

              </colgroup>
              <tr>
                <th class="align_left">Item</th>
                <th class="align_left">Description</th>
                <th class="align_right">Unit Cost</th>
                <th class="align_right">Quantity</th>
                <th class="align_right">Line Total</th>
              </tr>
              <% @invoice.invoice_line_items.each do |item|
                item_line_total= (item.item_unit_cost ||0) * (item.item_quantity ||0)
              %>
                  <tr>
                    <td class="align_left"><%= item.item.item_name rescue "" %></td>
                    <td class="align_left"><%= item.item_description %></td>
                    <td class="align_right"><%= number_to_currency(item.item_unit_cost) %></td>
                    <td class="align_right"><%= item.item_quantity.to_i %></td>
                    <td class="align_right"><%= number_to_currency(item_line_total) %></td>
                  </tr>
              <% end %>
            </table>
          </div>
          <!--grid_table-->
        </div>
        <!--preview_content_middle-->

        <div class="preview_content_btm">
          <div class="preview_btm_top">

            <div class="preview_left btm">
              <div class="preview_notes">
                <p class="preview_heading">Notes</p>

                <p><%= @invoice.notes %></p>
              </div>
            </div>
            <!--preview_top_left-->

            <div class="preview_right btm">
              <div class="top_right_row preview_heading">
                <div class="preview_right_label">Subtotal</div>
                <div class="preview_right_description"><%= number_to_currency(@invoice.sub_total) %></div>
              </div>
              <!--top_right_row-->

              <div class="top_right_row">
                <div class="preview_right_label">Discount <%= @invoice.discount_percentage %></div>
                <div class="preview_right_description"><%= number_to_currency(@invoice.discount_amount) %></div>
              </div>
              <!--top_right_row-->
              <% unless @invoice.tax_details.blank? %>
                  <%= taxes_list(@invoice.tax_details) %>
              <% end %>
              <!--top_right_row-->

              <div class="top_right_row preview_heading border-row">
                <div class="preview_right_label">Total</div>
                <div class="preview_right_description"><%= number_to_currency(@invoice.invoice_total) %></div>
              </div>
              <!--top_right_row-->

              <div class="top_right_row border amt_paid">
                <div class="preview_right_label">Amount Paid</div>
                <div class="preview_right_description">-<%= number_to_currency(Payment.invoice_paid_amount(@invoice.id)) %></div>
              </div>
              <!--top_right_row-->

              <div class="top_right_row border preview_heading">
                <div class="preview_right_label">Amount Due</div>
                <div class="preview_right_description"><%= number_to_currency(@invoice.invoice_total - Payment.invoice_paid_amount(@invoice.id)) %></div>
              </div>
              <!--top_right_row-->
            </div>
            <!--preview_top_right-->

          </div>
          <!--preview_btm_top-->
          <div class="preview_btm_footer">
            <ul>
              <li class="footer_txt">This invoice was sent using</li>
              <li><%= image_tag "payment_logo.png", :size => "74x13", :alt => "" %></li>
            </ul>
          </div>
          <!--preview_btm_footer-->
        </div>
        <!--preview_content_btm-->
      </div>
      <!--invoice_preview_content-->
    </div>
    <!--invoice_preview_container-->
  </div>
  <!--invoice_preview-->
</div><!--show_invoice-->