<%- model_class = Invoice -%>
<div class="invoice">
  <div class="content_top">
    <div class="primary_heading">
      <h1>
        <%= t '.title', :default => model_class.model_name.human.pluralize %>
        <span>&nbsp;/&nbsp;Active</span>
      </h1>
    </div>
    <div class="primary_btn">
      <%= link_to (content_tag(:span, "New Invoice")),
                  new_invoice_path,
                  :class => 'btn_large' %>
    </div>
  </div>
  <!--content_top-->
  <%= form_tag "invoices/bulk_actions", :remote => true do -%>
      <div class="content_middle">
        <div class="grid_control">
          <div class="grid_control_left">
            <ul value='<%= model_class.model_name %>' id="bulk_actions">
              <%= render "bulk_actions" %>
            </ul>

          </div>
          <div class="grid_control_right" id="active_links">
            <%= render "filter_links" %>
          </div>
        </div>
        <!--grid_control-->
        <div class="grid_table">
          <table cellpadding="0" cellspacing="0" class="table table_listing invoice_listing">
            <colgroup>
              <col class="one"/>
              <col class="two"/>
              <col class="three"/>
              <col class="four"/>
              <col class="five"/>
              <col class="six"/>
              <col class="seven"/>
              <col class="eight"/>
              <col class="nine"/>
            </colgroup>
            <thead>
            <tr>
              <th class="align_center not-sortable"><%= check_box_tag 'select_all' %></th>
              <th class="align_center sorting">Invoice #</th>
              <th class="align_left ">Client</th>
              <th class="align_left">Description</th>
              <th class="align_right sorting {sorter:'thousands'}">Total</th>
              <th class="align_center">Date</th>
              <th class="align_left">Due Date</th>
              <th class="align_center">Status</th>
              <th class="align_center not-sortable"><%= t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody id="invoice_body">
            <%= render 'invoice' %>
            <tfoot id="paging_links">
            <%= render "paging" %>
            </tfoot>
            </tbody>
          </table>
        </div>
        <!--grid_table-->
      </div>
      <!--content_middle-->
      <div class="content_bottom">
        <%= link_to (content_tag(:span, "New Invoice")),
                    new_invoice_path,
                    :class => 'btn_large' %>
      </div>
      <!--content_bottom-->
  <% end %>
</div><!--invoice-->

<div class="invoice_model">
  <%= render 'pay_invoice' %>
<%# b = "" %>
<%# a = open(File.join(Rails.root, 'app', 'assets', '/stylesheets/','application.css'), 'rb') {|f| b += f.read} %>
<%#= a %>
  <!-- START: invoices with payments popup -->
  <%= form_tag "invoices/delete_invoices_with_payments", :remote => true do -%>
      <div id="invoices_with_payments" class="modal hide fad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="model_grey_container">
          <div class="modal-header">
            <div id="invoice_popup_error" class="alert alert-error" style="display:none;">
              <button class="close" type="button" style="margin:0px;">×</button>
              <table>
                <tbody>
                <tr>
                  <td>
                    <span>You haven't selected any invoice. Please select one or more invoices and try again.</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <h1>How to handle invoice payments ?</h1>

            <p>The invoice you are trying to delete has payments associated with it. You must decide what
              to do with payments before the invoice can be deleted.</p>

            <div class="cross_btn">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <%= image_tag "cross.png", :size => "7x7", :alt => "" %>
              </button>
            </div>
          </div>
          <div class="modal-body">
          </div>
          <div class="footer ">
            <%= submit_tag "Convert Payment to Credit", :name => "convert_to_credit", :class => "btn_large submit small_case" %>
            <%= submit_tag "Permanently Delete Payment", :name => "destroy", :class => "btn_large submit small_case" %>
            <a href="#" data-dismiss="modal" class="btn_large grey">cancel</a>
          </div>
        </div>
      </div>
  <% end %>
  <!-- END: invoices with payments popup -->
</div><!--invoice_model-->
