<% if  @sub_users.length > 0 %>
    <% @sub_users.each do |sub_user| %>
        <tr>
          <td class="align_left"><%= sub_user.user_name %></td>
          <td class="align_left"><%= sub_user.email %></td>
          <td class="align_left" ><%= sub_user.created_at.to_time.strftime("%m/%d/%Y") %></td>
          <td class="align_center"><%= link_to "Edit", edit_sub_user_path(sub_user) %></td>
          <!--<td class="align_center"><%#= link_to "Delete", destroy_sub_user_path(sub_user), remote: true %></td>-->
        </tr>
    <% end %>

<% else %>
    <tr>
      <td colspan="8">
        <div class="no_record_container">No users found</div>
      </td>
    </tr>
<% end %>