<%- model_class = Client -%>
<div class="clients">
  <div class="content_top">
    <div class="primary_heading">
      <h1>
        <%= t '.title', :default => model_class.model_name.human.pluralize %>
        <span>&nbsp;/&nbsp;Active</span>
      </h1>
    </div>
    <div class="primary_btn">
      <%= link_to (content_tag(:span, "New Client")),
                  new_client_path,
                  :class => 'btn_large' %>
    </div>
  </div>
  <!--content_top-->
  <%= form_tag "clients/bulk_actions", :remote => true do -%>
      <div class="content_middle">
        <div class="grid_control">
          <div class="grid_control_left">
            <ul value='<%= model_class.model_name %>' id="bulk_actions">
              <%= render "bulk_actions" %>
            </ul>
          </div>
          <div class="grid_control_right" id="active_links">
            <%= render 'clients/filter_links' %>
          </div>
        </div>
        <!--grid_control-->
        <div class="grid_table">
          <table cellpadding="0" cellspacing="0" class="table table_listing client_listing">
            <colgroup>
              <col class="one"/>
              <col class="two"/>
              <col class="three"/>
              <col class="four"/>
              <col class="five"/>
              <col class="six"/>
              <col class="seven"/>
            </colgroup>
            <thead>
            <tr>
              <th class="align_center not-sortable"><%= check_box_tag 'select_all' %></th>
              <th class="align_left">Organization</th>
              <th class="align_left">Contact</th>
              <th class="align_left">Email</th>
              <th class="align_left">Phone</th>
              <th class="align_left">Available Credit</th>
              <th class="align_center not-sortable"><%= t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody id="client_body">
            <%= render 'clients' %>
            <tfoot id="paging_links">
            <%= render "paging" %>
            </tfoot>
            </tbody>
          </table>
        </div>
        <!--grid_table-->
      </div>
      <!--content_middle-->
      <div class="content_bottom">
        <%= link_to (content_tag(:span, "New Client")),
                    new_client_path,
                    :class => 'btn_large' %>
      </div>
      <!--content_bottom-->
      </div><!--clients-->
  <% end %>

