.clients{
  .grid_table table col.one{ /*check box*/
    width : 33px;
  }
  .grid_table table col.two{ /*organization*/
    width :140px;
  }
  .grid_table table col.three{ /*contacts*/
    width: 171px;
  }
  .grid_table table col.four{ /*email*/
    width : 171px;
  }
  .grid_table table col.five{ /*phone*/
    width : 120px;
  }
  .grid_table table col.six{ /*available credit*/
    width : 135px;
  }
  .grid_table table col.seven{ /*actions*/
    width : 70px;
  }
}
#detail, #contact{
  cursor: pointer;
}
